{% extends "layout.html" %}
{% block title %}EURoute.me - Make the most out of your Europe trip!{% endblock %}
{% block head %}
    <link href="static/css/typeahead.css" rel="stylesheet">
    <script src="static/js/typeahead.min.js"></script>
{% endblock %}
{% block body %}
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h1>EURoute.me</h1>
            <p class="lead">Make the most out of your Europe trip!</p>
          </div>
        </div>
      </div>


      <div class="row">

      {% if fails %}
        <div class="col-lg-6">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>It looks like I cannot route you :(</strong> Can you try using suggested city and country names or select a longer travel duration?
            </div>
        </div>
      {% endif %}
        <div class="col-lg-12">
          <form action="route" method="post">

            <div class="form-group" id="where">
              <label class="control-label" for="inputDefault">Where in Europe will you start?</label>
              <br/>
              <div>
                <input type="text" name="origin" id="origin" placeholder="Start from ..." class="form-control input-lg col-md-3" value="{{ origin }}">
                <input type="text" name="destin" id="destin" placeholder="Go to ..." class="form-control input-lg col-md-3" value="{{ destin }}">
              </div>
              <br/>
              <div class="btn-group">
                <button type="button" class="btn {% if not oneway %}btn-danger{% else %}btn-warning{% endif %}">Round trip</button>
                <button type="button" class="btn {% if oneway %}btn-danger{% else %}btn-warning{% endif %}">One way</button>
              </div>
            </div>
            <div class="form-group" id="ndays">
              <label class="control-label" for="inputDefault">How long is your travel?</label>
              <br/>
              <div class="btn-group">
                <button type="button" class="btn {% if days == 3 %}btn-danger{% else %}btn-warning{% endif %}" value="3">3</button>
                <button type="button" class="btn {% if days == 4 %}btn-danger{% else %}btn-warning{% endif %}" value="4">4</button>
                <button type="button" class="btn {% if days == 5 %}btn-danger{% else %}btn-warning{% endif %}" value="5">5</button>
                <button type="button" class="btn {% if days == 6 %}btn-danger{% else %}btn-warning{% endif %}" value="6">6</button>
                <button type="button" class="btn {% if days == 7 %}btn-danger{% else %}btn-warning{% endif %}" value="7">7</button>
                <button type="button" class="btn {% if days == 8 %}btn-danger{% else %}btn-warning{% endif %}" value="8">8</button>
                <button type="button" class="btn {% if days == 9 %}btn-danger{% else %}btn-warning{% endif %}" value="9">9</button>
                <button type="button" class="btn {% if days == 10 %}btn-danger{% else %}btn-warning{% endif %}" value="10">10 days</button>
              </div>
                <input type="hidden" name="days" id="days" value="" />
              </div>
              <div class="form-group" id="submit">
                <button type="button" class="btn btn-success btn-lg" id="train">
                  <img class="glyphicon" src="/static/img/train.png"> Hop on a Train</button>
                <button type="button" class="btn btn-info btn-lg" id="driving">
                  <img src="/static/img/car.png"> Hit the Road</button>
                <input type="hidden" name="mode" id="mode" value="" />
              </div>
            </form>
          </div>
        </div>
    <style>
    .modal-dialog {
        width: 1014px;
    }
    .modal-body {
        height: 606px;
    }

    </style>

<script type="text/javascript">

$('#where > div.btn-group button').click(function(){
  $('div.btn-group button').removeClass('btn-danger').addClass('btn-warning');
  if ($(this).addClass('btn-danger').text() == "One way") {
    $("#destin").show();
    $(".twitter-typeahead:nth-of-type(2)").show();
  } else {
    $("#destin").hide();
    $(".twitter-typeahead:nth-of-type(2)").hide();
  }

});

$('#ndays > div.btn-group button').click(function(){
  $('#ndays > div.btn-group button').removeClass('btn-danger').addClass('btn-warning');
  $("#days").val($(this).addClass('btn-danger').val());
});

$('#origin').typeahead({
  name: 'cities',
  prefetch: 'static/cities.json',
  //remote: '/json/cities?q=%QUERY',
  limit: 10
});

$('#destin').typeahead({
  name: 'cities',
  //prefetch: '/q?cities=B',
  prefetch: 'static/cities.json',
  limit: 10
});

{% if not oneway %}
$(".twitter-typeahead:nth-of-type(2)").hide();
{% endif %}

$('#submit button').click(function(){
  var error = false;
  if ($("#days").val() === "") {
    $("#ndays").addClass('has-error');
    error = true;
  } else {
    $("#ndays").removeClass('has-error');
  }

  var oval = $("#origin").val();
  if (oval === "" || oval.split(',').length != 2) {
    $("#where").addClass('has-error');
    error = true;
  } else {
    $("#where").removeClass('has-error');
  }

  var dval = $("#destin").val();
  if (dval !== "" && dval.split(',').length != 2) {
    $("#where").addClass('has-error');
    error = true;
  } else {
    $("#where").removeClass('has-error');
  }
  if (error){return}

  $("#mode").attr('value', $(this).attr("id"));
  var origin = $("#origin").val().replace(', ', '-').replace(' ', '_');

  var url = $("#days").val() + '-days-';
  if (dval === "") {
    url += 'around-' + origin + '-by-' + $(this).attr("id");
  } else {
    var destin = $("#destin").val().replace(', ', '-').replace(' ', '_');
    url += 'from-' + origin + '-to-' + destin + '-by-' + $(this).attr("id");
  }

  $("form").attr('action', url).submit();
});
</script>
{% endblock %}
